<div class="sf_artical_content clearfix" data-ng-class="{'loadding':!artical.article.content}">
    <div class="loader orbit">
	    <div></div>
	    <div></div>
	    <div></div>
	    <div></div>
  	</div>
    <div class="markdown col-sm-offset-2 col-sm-8 slide-top" ng-show='artical.article.content' highlight ng-model="artical.article.content">

    </div>
    <comment class='col-sm-offset-2 col-sm-8' ng-if='artical.common.aid' article='artical.common.aid' title='artical.title' url='artical.common.url'></comment>
</div>