/**
 * container
 */
$containerBgColor: #FFF;
$containerBorderColor: rgba(0, 0, 0, 0.1);

.sf_container {
    background-color: $containerBgColor;

    @media screen and (max-width: 480px) {
        width: 100%;
        padding: 0px;
    }
}

.notfound {
    width: 100%;

    p {
        line-height: 80px;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        color: #8C8B8B;
    }

    ul {
        width: 682px;
        padding: 10px;
        overflow: hidden;
        clear: both;
        margin: 0 auto;

        li {
            padding: 5px 10px;
            display: inline-block;
            margin: 10px 10px;
            border: 1px solid #DDD;
            transition: all .2s ease;
            cursor: pointer;

            &:hover {
                color: $navHoverBgColor;
                border: 1px solid $navHoverBgColor;
            }
        }
    }
}

.sf_artical_item {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100% * 10 / 12;
    padding: 10px;
    border: 1px solid $containerBorderColor;

    @media screen and (max-width: 480px) {
        margin-top: 0;
        border-width: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .artical_title {
        display: block;
        width: 100%;
        font-size: 1.3em;
        line-height: 1.8em;
        color: $basebodyColor;
        cursor: pointer;
        margin: .27em 0;

        &:hover {
            text-decoration: none;

            span, i {
                opacity: 1;
            }
        }

        &:hover, &:active, &:visited, &:focus {
            color: $basebodyColor;
            text-decoration: none;
        }

        @media screen and (max-width: 480px) {
            height: 1.5em;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    img {
        width: 100%;
        cursor: pointer;
    }

    p {
        line-height: 25px;
        color: #636262;
        position: relative;

        @media screen and (max-width: 480px) {
            max-height: 50px;
            overflow: hidden;
            padding-bottom: 10px;
        }
    }

    .artical_tag {
        height: 30px;
        width: 100%;
        position: relative;
        cursor: pointer;

        &:hover > .taglist {
            opacity: 1;
        }

        .taglist {
            opacity: 0;
            transition: all .2s ease;
            position: absolute;
            top: -206px;
            left: -115px;
            margin: 0;
            padding: 0;
            list-style: none;
            border: 1px solid #DDD;

            @media screen and (max-width: 480px) {
                display: none;
            }

            li {
                border-bottom: 1px solid #DDD;
                width: 100px;
                line-height: 40px;
                text-align: center;
                height: 40px;
                color: #565353;

                &:hover {
                    color: #333;
                }
            }

            &:before {
                position: absolute;
                display: block;
                top: 214px;
                right: -11px;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 10px solid #DDD;
                border-bottom: 5px solid transparent;
            }

            &:after {
                position: absolute;
                display: block;
                top: 214px;
                right: -10px;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 10px solid #fff;
                border-bottom: 5px solid transparent;
            }

            & > li:last-child {
                border-width: 0;
            }
        }
        
    
        .list-header {
            float: left;
            display: inline-block;
            font-size: 16px;
            font-style: normal;
            padding-left: 0;
            height: 16px;
            line-height: 16px;
            color: #333;
            margin: 5px;
            margin-left: 0;
            i{
                margin-right: 5px;
            }
            span{
                margin-right: 5px;
            }
        }
    }
}