    <sf-banner class='slide-top'></sf-banner>
    <div class="container sf_container" lazy-container>
        <div class="row slide-top" data-ng-repeat="blog in blogList">
            <div class="col-sm-offset-1 col-sm-10 sf_artical_item">
                <img lazy-src="{{blog.image}}" class="img-responsive" animate-visible="true" animate-speed="0.5s" alt="{{::blog.title}}">    
                <h1 ui-sref="article({aid:blog._id})">
                    {{::blog.title}}
                    <span class="icon-read">{{::blog.visit_count}}</span> <i class="icon-talk">{{::blog.comment_count}}</i>
                </h1>
                <div class="artical_tag">
                    <div class="tag icon-tag" data-ng-bind="::blog.tagName"></div>
                    <div class="time icon-time" data-ng-bind="::blog.publish_time|dataFilter"></div>
                </div>
                <p data-ng-bind="::blog.introduce">
                    
                </p>
            </div>
        </div>
        <sf-loading class='loading' ng-show='isLoading' load-more=''></sf-loading>  
    </div>