<div>
    <sf-banner class='slide-top'></sf-banner>
    <div class="sf_container wrap" lazy-container>
        <div class="notfound slide-top" ng-if='blogList.length<1&&!isLoading'>
            <p>暂无该标签内的文章哦</p>
            <ul class="clearfix">
                <li data-ng-repeat="tag in tagList track by $index" ng-click='changeTag(tag._id)' data-ng-bind="::tag.name"></li>
            </ul>
        </div>
        <div class="row slide-top" data-ng-repeat="blog in blogList track by $index">
            <div class="sf_artical_item">
                <img ui-sref="article({aid:blog._id})" lazy-src="{{blog.image}}" class="img-responsive" animate-visible="true" animate-speed="0.5s" alt="{{::blog.title}}">
                <a class='artical_title' ui-sref="article({aid:blog._id})">{{::blog.title}}</a>
                <div class="artical_tag">
                    <ul class="taglist clearfix">
                        <li data-ng-repeat="tag in tagList track by $index" ng-click='changeTag(tag._id)' data-ng-bind="::tag.name"></li>
                    </ul>
                    <div class="list-header"><i class="iconfont icon-biaoqian"></i><span data-ng-bind="::blog.tagName"></span></div>
                    <div class="list-header"><i class="iconfont icon-time"></i><span data-ng-bind="::blog.publish_time|dataFilter"></span></div>
                </div>
                <p data-ng-bind="::blog.introduce"></p>
            </div>
        </div>
        <sf-loading class='loading' ng-show='isLoading' load-more=''></sf-loading>
    </div>
    <sf-footer></sf-footer>
</div>